@import "/styles/importer.css";

*, *: : before, *: : after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: clamp(12px, 2.5vw, 20px);
}

body {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 1fr 20vh;
}

header {
  background: gray;
}

footer {
  background: lightgray;
}

header,
footer,
main {
  display: flex;
  flex-flow: column;
}

button {
  cursor: pointer;
  font-size: 0.8em;
  padding: 0.25em 1em;
  background: var(--color-100, white);
  border-radius: 5px;
  border: 1px solid;
  box-shadow: 0pc 2px 2px rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 2rem;
  max-width: 800px;
  margin: 0 auto;
}

main.container {
  padding-top: 2rem;
}
